@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700;800&family=Schoolbell&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-urbanist: 'Urbanist', sans-serif;
  --font-schoolbell: 'Schoolbell', cursive;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-urbanist);
  --font-serif: var(--font-schoolbell);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-urbanist);
}
